
<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Force HTTPS
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [L,R=301]
    
    # Force non-WWW
    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^(.*)$ https://%1/$1 [L,R=301]
    
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
# Block access to Dotfiles (like .env)
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

# Block access to Composer files
<FilesMatch "(^composer\.json|^composer\.lock)">
    Order allow,deny
    Deny from all
</FilesMatch>

# Block access to package logs
<FilesMatch "(^package\.json|^package-lock\.json)">
    Order allow,deny
    Deny from all
</FilesMatch>
# Disable Directory Browsing
Options -Indexes
